@import "kube.scss";

@mixin border-animation-before {
  margin-top: 5px;
  display:block;
  content: '';
  border-bottom: solid 4px black;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
@mixin border-animation-after {
  transform: scaleX(1);
}

$main-color: #7F7F7F;
$resume-color: #477998;
$projects-color: #AF4B57;
$thoughts-color: #67A065;

body {
  @include grid-row;
}

body > * {
  margin-top: 20px;
}

img {
  border-radius: 3px;
  pointer-events: none;
}

.social-link {
  color: black;
  text-decoration: none;
}

.social-link > *::after {
  @include border-animation-before;
}

.social-link > *:hover::after {
  @include border-animation-after;
}

@media screen and (max-width: 768px) {
    #menu-icon {
      display: inline !important;
    }
    #navigation {
      display: none;
    }
    #menu-container {
      border-right: none !important;
      padding-bottom: 10px;
      border-bottom: solid 2px $main-color;
    }
    #navigation > li {
      transition: opacity 250ms ease-in-out;
    }
}

@media screen and (min-width: 769px) {
  #menu-icon {
    display: none !important;
  }
  #menu-close {
    display: none !important;
  }
  #navigation {
    display: block !important;
    opacity: 1 !important;
  }
}

#menu-container {
  @include flex-item-width(250px);
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border-right: solid 2px $main-color;
}

#content-container {
  @include flex-item-auto;
  margin-left: 40px;
}

#navigation > li {
  margin: 20px;
}

#navigation > li > a {
  display: inline-block;
  font-family: "Merriweather";
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

#navigation > li:nth-child(4) {
  margin-bottom: -10px;
}

#menu-icon {
  display: none;
  margin-left: 5px;
  cursor: pointer;
}

#menu-close {
  display: none;
  margin-left: 5px;
  cursor: pointer;
}

#navigation > li > a::after {
  @include border-animation-before;
}

#navigation > li:nth-child(1) > a:hover {
  color: $main-color;
}

#navigation > li:nth-child(2) > a:hover {
  color: $resume-color;
}

#navigation > li:nth-child(3) > a:hover {
  color: $projects-color;
}

#navigation > li:nth-child(4) > a:hover {
  color: $thoughts-color;
}

#navigation > li > a:hover::after {
  @include border-animation-after;
}

#heading {
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: "Merriweather", serif;
}

#portrait {
  max-width: 225px;
}

#social-container {
  width: 300px;
  margin-left: 0px;
  margin-bottom: 15px;
  margin-top: 20px;
}

#social-container > div {
  display: inline-block;
  width: 20%;
}

#social-link-li:hover {
  color: #0077B5;
}
#social-link-ig:hover {
  color: #cd486b;
}
#social-link-gh:hover {
  color: #512c7b;
}
#social-link-email:hover {
  color: $main-color;
}
