@import "kube.scss";

@mixin border-animation-before {
  margin-top: 5px;
  display:block;
  content: '';
  border-bottom: solid 4px black;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
@mixin border-animation-after {
  transform: scaleX(1);
}

body {
  @include grid-row;
}
body > * {
  margin-top: 20px;
}

#heading {
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: "Merriweather";
}

.social-link {
  color: black;
  text-decoration: none;
}

.social-link > *::after {
  @include border-animation-before;
}

.social-link > *:hover::after {
  @include border-animation-after;
}

#menu-container {
  @include flex-item-width(300px);
  margin-left: 15px;
}

#content-container {
  @include flex-item-auto;
  margin-left: 15px;
}

#navigation > li {
  margin: 20px;
}

#navigation > li > a {
  display: inline-block;
  font-family: "Merriweather";
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

#navigation > li > a::after {
  @include border-animation-before;
}

#navigation > li > a:hover::after {
  @include border-animation-after;
}

#portrait {
  max-width: 200px;
  border-radius: 3px;
  pointer-events: none;
}

#social-container {
  max-width: 250px;
  margin-left: 0px;
  margin-bottom: 15px;
  margin-top: 20px;
}
#social-link-li:hover {
  color: #0077B5;
}
#social-link-ig:hover {
  color: #cd486b;
}
#social-link-gh:hover {
  color: #512c7b;
}
